{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="http://www.vam.ac.uk/__data/assets/image/0008/173609/favicon_130.png" />
    <link rel="apple-touch-startup-image" href="http://www.vam.ac.uk/__data/assets/image/0018/173610/favicon_1024.png" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css" media="all" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/print.css" media="print" />
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.hooks.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/hammer.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.hammer.js"></script>
    <script type="text/javascript">
        // add Google tracking code if served on a vam.ac.uk domain
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-000000-00']);
        _gaq.push(['_setDomainName', 'example.com']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <title>{% if screen %}{{screen.name}}{% else %}Digital Labels{% endif %}</title>
</head>

<body{% block body_class %}{% endblock %}>

    {% block content %}
    <div id="index">
        <h1>Digital Labels</h1>
        {% if labels %}
        <ul>
            {% for l in labels %}
            <li>
                {% if l.museumobjects.all.0.image_set.all %}
                {% thumbnail l.museumobjects.all.0.image_set.all.0.image_file "84x84" pad=True as im %}
                <a href="{% url digitallabel l.id %}"><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a><br />
                {% endthumbnail %}
                {% else %}
                <a href="{% url digitallabel l.id %}"><img src="{{STATIC_URL}}img/logo-va.png" width="84" height="84"></a><br />
                {% endif %}
                <a href="{% url digitallabel l.id %}">{{l}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endblock %}
    
    {% if kiosk_mode %}
        <div id="timeout">
            {% for ti in screen.timeout_images.all %}
            	{% thumbnail ti.image_file "1024x768" pad=True as im %}
            	<img class="timeout" src="{{ im.url }}" alt=""/>
            	{% endthumbnail %}
            {% endfor %}
        </div>
    {% endif%}

</body>
</html>