body { color:#292728; font:14px/1.142 "V&A TheSansLightPlain",arial,helvetica,freesans,sans-serif; }
img { vertical-align:bottom; }
p, ol, ul { margin-bottom:1em; }
a { color:#292728; text-decoration:underline; }
a:active { color:#000; text-decoration:none; }
h1, h2 { font-family:"V&A TheSansExtraBoldPlain",arial,helvetica,freesans,sans-serif; font-size:171.43%; font-weight:normal; line-height:1.1em; }
strong { font-family:"V&A TheSansSemiBoldPlain",arial,helvetica,freesans,sans-serif; font-weight:500; }
abbr, acronym { border-bottom:1px dotted #b5b5b5; } 
em { font-size:103.57; font-style:italic; font-family:"V&A TheSansLightItalic",arial,helvetica,freesans,sans-serif; }
small, sub, sup { font-size:85%; }
sub, sup { position:relative; vertical-align:baseline; }
sub { bottom:-0.3em; }
sup { top:-0.3em; }
ol, ul { list-style-position:outside; margin-left:2.2em; }
ol { list-style-type:decimal; }
ul { list-style-type:disc; }
li { margin:0 0 0.5em; }